/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Apr-2016, 15:08:18
    Author     : user
*/

html, body {
    height: 100%;
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #BCAAA4;
}

#wrap{
    min-height: 100%;
    overflow: auto; 
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

#header {
    text-align: center;
    background: #795548;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
}

#main{
    background: #8D6E63;
    color: white;
    text-align: center;
    padding: 5%;
}

<<<<<<< HEAD
#footer{
    text-align: center;
    background: #795548;
    padding: 1%;
}

=======
>>>>>>> ab879a27fe1101217a6294077ce3db8f31ac52e5
.nav table {
    list-style: none;
    overflow: auto;
    background-color: #A1887F;
    text-align: left;
    padding: 5%;
    margin: 0%;
    box-shadow: 0 1px 4px 1px black;
    width: 100%;
}

.nav tr {
    margin: 5%;
    background: #D7CCC8;

}

.nav th{
    color: black;
<<<<<<< HEAD
    font-weight: bold;
}

.nav td{
    color: black;
=======
>>>>>>> ab879a27fe1101217a6294077ce3db8f31ac52e5
}

/* CSS for the whole <UL> list for the nav id only  */

<<<<<<< HEAD
.navbar ul {    
=======
.navBar ul {    
>>>>>>> ab879a27fe1101217a6294077ce3db8f31ac52e5
  list-style: none;
  overflow:auto; 
  background-color: #CCB598;
  text-align: center;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 4px 1px black; 
  color: black;
}

/* CSS for each list element inside the <UL>, inside the nav id */

<<<<<<< HEAD
.navbar li {    
=======
.navBar li {    
>>>>>>> ab879a27fe1101217a6294077ce3db8f31ac52e5
  line-height: 40px;
  width: 33.3%;
  float:left;
}

/* CSS for each <a> attribute inside nav id only */

<<<<<<< HEAD
.navbar a {   
=======
.navBar a {   
>>>>>>> ab879a27fe1101217a6294077ce3db8f31ac52e5
    text-decoration: none;
    color: black;
    display: block;
    transition:.3s background-color;    
}

<<<<<<< HEAD
.navbar a:hover {  
=======
.navBar a:hover {  
>>>>>>> ab879a27fe1101217a6294077ce3db8f31ac52e5
    background-color: #4E3515; 
    color: white;
}

<<<<<<< HEAD
.navbar a.active {   
=======
.navBar a.active {   
>>>>>>> ab879a27fe1101217a6294077ce3db8f31ac52e5
    background-color: #4E3515;
    color: white;     
}
