<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>How do you fair?</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <h1>How scuzzy are you?</h1>
                <h4>Wee website to see where you rank in Scotland in terms of shiteness.</h4>
            </div>
            
            <div class="navBar">
                <ul>
                    <li><a href="index.html">New Postcode</a></li>
                    <li><a   href="yourInfo.html">Your Info</a></li>
                    <li><a class="active" href="#">Compare</a></li>
                </ul>
            </div>

            <div id="main">
                
                <p>Where do you fit in amongst your peers?</p>
                
                <p>pure mad wee graph here</p>
            </div>
        </div>
    </body>
</html>
