<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>How do you compare?</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                      ['Vigintiles', 'Frequency'],
                      {% for item in input.table_data %}
                      {{ [item[0], item[1]] }},
                      {% endfor %}
                      ]);

                var options = {
                    title: 'Postcode Spread',
                    curveType: 'function',
                    legend: {position: 'none'},

                    vAxis: {minValue: 1, title: "Frequency"},
                    hAxis: {minValue: 1, maxvValue: 20, title: "Vigintile"},
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                chart.draw(data, options);
            }
        </script>
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <h1>Rate Your Postcode</h1>
                <h4>Check where your home address ranks in Scotland</h4>
            </div>
            
            <div class="navbar">
                <ul>
                    <li><a href="{{ url_for('index') }}">New Postcode</a></li>
                    <li><a href="{{ url_for('postcode',code=input.postcode) }}">Your Info</a></li>
                    <li><a class="active" href="#">Compare</a></li>
                </ul>
            </div>

            <div id="main">
                <p>Where do you fit in amongst your peers?</p>

                <div id="curve_chart" style="width:100%;">
                </div>
                
                <p>{{ input.name }}</p>
                <p>{{ input.population }}</p>
                <p>{{ input.vigintile }}</p>
                <p>{{ input.rank }}</p>
                <p>{{ input.postcode }}</p>
            </div>
            
            <div id="footer">
                <h4> &COPY; Dundee Dream Team</h4>
            </div>
        </div>
    </body>
</html>
