/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Apr-2016, 15:08:18
    Author     : user
*/

html, body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #ccc;
}